body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 40px;
}

.navbar{
	background-color: #151515;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	min-height: 100px;
}
.nav-link{ 
	color: white;
	margin-left: 30px;
}

.nav-link:hover {color: #6B5E06}

.navbar{
	box-shadow: 2px 2px 5px #6B5E06;
	opacity: .9;
}
.logo-brand{
	min-width: 70px;
	max-width: 70px;
	margin-left: 120px;
}
.navbar-toggler{
	font-size: 40px;
}
.navbar-toggler:focus{
	outline: none;
}

.galeria{
	width: 1500px;
	height: 600px;
	margin-left: px;
	margin-bottom: 30px;
	object-fit: fill;
}